<p id="notice"><%= notice %></p>

<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_weixin">微信</a>
    <a class="jiathis_button_tsina">新浪微博</a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br />

<p>
  <strong>Item:</strong>
  <%= @item_detail.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item_detail.description %>
</p>

<p>
  <strong>Other imgs:</strong>
  <%= @item_detail.other_imgs %>
</p>

<%= link_to 'Edit', edit_item_detail_path(@item_detail) %> |
<%= link_to 'Back', item_details_path %>
