<p id="notice"><%= notice %></p>

<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_weixin">微信</a>
    <a class="jiathis_button_tsina">新浪微博</a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br />

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Top img</th>
      <th>Price</th>
      <th>Star</th>
      <th>Asin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.category_id %></td>
        <td><%= item.name %></td>
        <td><%= item.top_img %></td>
        <td><%= item.price %></td>
        <td><%= item.star %></td>
        <td><%= item.asin %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
