<div class="container">
    <%- model_class = Item -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <% @items.each do |item| %>
      <div class="media">
        <div class="media-left">
          <a href="<%= link_to item.id, item_path(item) %>">
            <%= image_url item.top_img_url %>
          </a>
        </div>
        <div class="media-body">
          <h4><%= item.name %></h4>
          <h4><%= item.price %></h4>
          <h4><%= item.star %></h4>
        </div>
      </div>
    <% end %>
</div>
